Repository ColeMorton/trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
  python: python3.11
  node: 18.17.0

repos:
  # Pre-commit framework hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=5000']
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: debug-statements # Re-enabled after syntax fixes
      - id: detect-private-key
      - id: fix-byte-order-marker
      - id: mixed-line-ending
        args: ['--fix=lf']

  # LOCAL HOOKS - Use Poetry environment for version consistency
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format (Poetry)
        entry: poetry run ruff format
        language: system
        types: [python]
        pass_filenames: true

      - id: ruff-check
        name: ruff check (Poetry)
        entry: poetry run ruff check --fix
        language: system
        types: [python]
        pass_filenames: true

      - id: mypy
        name: mypy (Poetry)
        entry: poetry run mypy
        language: system
        types: [python]
        pass_filenames: true
        files: ^app/
        exclude: ^(tests/|scripts/|experimental/)

  # pylint - Code analysis (temporarily disabled)
  # - repo: https://github.com/pycqa/pylint
  #   rev: v3.0.3
  #   hooks:
  #     - id: pylint
  #       name: pylint
  #       entry: pylint
  #       language: system
  #       types: [python]
  #       args:
  #         - '--max-line-length=88'
  #         - '--disable=C0111,C0103,C0301,C0330,W0511,R0903,R0913,R0914,W0613,W0622,R0801,E1101,W0221,C0209,W1514,R0402'
  #         - '--good-names=i,j,k,ex,Run,_,df,e,f,ax,id'
  #       files: ^app/
  #       exclude: ^(tests/|scripts/|experimental/)

  # bandit - Security linting (re-enabled after security fixes)
  - repo: https://github.com/pycqa/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        args: ['-ll', '--exclude', 'app/trading_bot/trendspider/']
        files: ^app/
        exclude: ^(tests/|scripts/|experimental/)

  # vulture - Dead code detection (temporarily disabled)
  # - repo: https://github.com/jendrikseipp/vulture
  #   rev: v2.10
  #   hooks:
  #     - id: vulture
  #       args:
  #         [
  #           '--min-confidence',
  #           '80',
  #           '--exclude',
  #           '*/tests/*,*/experimental/*,*/scripts/*',
  #         ]
  #       files: ^app/
  #       pass_filenames: true

  # Frontend linting - ESLint
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.38.0
    hooks:
      - id: eslint
        files: \.(js|jsx|ts|tsx)$
        types: [file]
        additional_dependencies:
          - eslint@8.56.0
          - '@typescript-eslint/parser@6.18.1'
          - '@typescript-eslint/eslint-plugin@6.18.1'
          - eslint-config-prettier@9.1.0
          - eslint-plugin-react@7.33.2
          - eslint-plugin-react-hooks@4.6.0
        args: ['--fix', '--max-warnings=0']
        exclude: ^(node_modules/|build/|dist/)

  # Frontend formatting - Prettier
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [css, javascript, jsx, ts, tsx, json, yaml, markdown]
        additional_dependencies:
          - prettier@3.1.1
          - '@types/prettier@3.0.0'
        args: ['--write', '--single-quote', '--trailing-comma=es5']
        exclude: ^(node_modules/|build/|dist/|package-lock\.json)

# Configuration for specific stages
default_stages: [pre-commit]
fail_fast: false

Potential fix for code scanning alert no. 26: Use of a broken or weak cryptographic hashing algorithm on sensitive data
  app/api/core/security.py
Due: ruff-format, ruff-check, mypy

Update README.md to reflect current tooling and commands
  README.md
Due: none

Add comprehensive README badges for CI/CD and technology stack
  .pre-commit-config.yaml
  README.md
Due: none

Add comprehensive security infrastructure and code quality tools
  .github/workflows/pre-commit-check.yml
  .gitmessage
  Makefile
  SECURITY.md
  app/api/main.py
  app/api/routers/sweeps.py
  app/cli/commands/tools.py
  app/cli/main.py
  app/contexts/portfolio/services/portfolio_data_export_service.py
  app/database/strategy_sweep_repository.py
  app/strategies/atr/test_multi_ticker.py
  app/tools/services/backtesting_parameter_export_service.py
  data/analysis/STATIC_ANALYSIS_FINDINGS.md
  data/analysis/complexity-report.txt
  data/analysis/dead-code-report.txt
  data/analysis/maintainability-report.txt
  docs/SECURITY_SETUP.md
  poetry.lock
  pyproject.toml
  scripts/verify-commit.sh
Due: ruff-format, ruff-check, mypy

fix: resolve CodeQL configuration conflict
  .pre-commit-config.yaml
Due: none

security: update dependencies to fix 8 Dependabot vulnerabilities
  poetry.lock
  pyproject.toml
Due: none

feat: implement centralized version management and enhance code quality
  .github/actions/setup-python-poetry/action.yml
  .github/workflows/ci-cd.yml
  .github/workflows/concurrency_tests.yml
  .github/workflows/ma_cross_tests.yml
  .github/workflows/security.yml
  .gitleaks.toml
  .importlinter
  .versions
  Dockerfile.api
  Makefile
  SECURITY.md
  app/concurrency/tools/allocation_strategy.py
  app/concurrency/tools/correlation_calculator.py
  app/concurrency/tools/correlation_filter.py
  app/concurrency/tools/efficiency.py
  app/tools/expectancy.py
  docs/CHANGELOG.md
  docs/CODE_QUALITY.md
  docs/DOCUMENTATION_INDEX.md
  docs/DOCUMENTATION_MERGE_SUMMARY.md
  docs/SECURITY_SETUP.md
  docs/STATIC_ANALYSIS_INTEGRATION.md
  docs/development/CENTRALIZED_VERSIONING_SUMMARY.md
  docs/development/README.md
  docs/development/TOOL_VERSIONS.md
  docs/development/VERSIONING.md
  scripts/track_quality_metrics.py
  scripts/validate-versions.sh
Due: ruff-format, ruff-check, mypy

fix: disable failing pre-commit hooks to unblock CI
  .daily_execution.lock
  .pre-commit-config.yaml
  app/concurrency/tools/correlation_filter.py
Due: ruff-format, ruff-check, mypy

chore: update strategy portfolio data
  data/raw/strategies/portfolio.csv
  data/raw/strategies/protected.csv
  data/raw/strategies/risk_on.csv
Due: none

Add psycopg2-binary to Poetry dependencies for Alembic support
  Dockerfile.api
  data/raw/strategies/DAILY.csv
  data/raw/strategies/protected.csv
  poetry.lock
  pyproject.toml
  tests/performance/test_exit_efficiency_targets.py
Due: ruff-format, ruff-check

fix: add 'test' environment support to APISettings validator
  .importlinter
  app/api/core/config.py
Due: ruff-format, ruff-check, mypy

fix: resolve integration test failures and export logic bugs
  .daily_execution.lock
  .env.bak
  .github/workflows/ci-cd.yml
  alembic.ini.bak
  app/api/core/config.py
  app/api/jobs/worker.py
  app/portfolio_synthesis/review.py
  app/tools/strategy/export_portfolios.py
  conftest.py
  data/raw/strategies/today.csv
  docker-compose.prod.yml
  docker-compose.yml
  fix-export-bugs.plan.md
  fix-export-functional-bugs.plan.md
  poetry.lock
  pyproject.toml
  pytest.ini
  scripts/setup_database.sql
  scripts/start_api.sh
  test_fix_summary.md
  tests/api/test_live_integration.py
  tests/cli/integration/test_e2e_workflows.py
  tests/cli/integration/test_export_matrix.py
  tests/portfolio_synthesis/unit/test_edge_cases_and_errors.py
  tests/portfolio_synthesis/unit/test_parameter_conversion.py
  tests/portfolio_synthesis/unit/test_parameter_conversion_simple.py
  tests/unit/test_empty_portfolio_export.py
Due: ruff-format, ruff-check, mypy

fix(ci): standardize health checks and fix httpx module error
  .github/workflows/ci-cd.yml
  app/core/structlog_config.py
  docs/devops/CI_HEALTH_CHECK_FIX.md
  scripts/wait_for_api_health.py
Due: ruff-format, ruff-check, mypy

fix(tests): resolve all 17 failing integration tests
  app/cli/services/batch_processing_service.py
  data/raw/strategies/today.csv
  docs/testing/INTEGRATION_TEST_FIXES.md
  tests/cli/integration/test_export_matrix.py
  tests/cli/integration/test_profile_integration.py
Due: ruff-format, ruff-check, mypy

fix(ci): add venv validation and fix remaining profile tests
  .github/actions/setup-python-poetry/action.yml
  data/raw/strategies/today.csv
  tests/cli/integration/test_profile_integration.py
Due: ruff-format, ruff-check

fix: resolve 18 failing integration tests
  app/cli/profiles/default_strategy.yaml
  docs/devops/CI_CACHE_VALIDATION_FIX.md
  tests/cli/integration/test_export_matrix.py
  tests/cli/integration/test_profile_integration.py
Due: ruff-format, ruff-check

fix(export): remove duplicate 'portfolios' key in EXPORT_SCHEMA_CONFIG
  app/tools/strategy/export_portfolios.py
Due: ruff-format, ruff-check, mypy

fix(export): standardize column name capitalization for Expectancy Per Trade
  .cursor/mcp.json
  app/tools/portfolio/filters.py
  tests/cli/integration/test_export_matrix.py
Due: ruff-format, ruff-check, mypy

fix: correct portfolio export schemas and filtering logic
  .cursor/mcp.json
  app/tools/strategy/export_portfolios.py
  fix-portfolio-export-schema-bugs.plan.md
  tests/cli/integration/test_export_matrix.py
Due: ruff-format, ruff-check, mypy

feat: add parallel test infrastructure and fix schema consistency
  .github/workflows/test-parallel.yml
  app/cli/models/base.py
  app/database/migrations/versions/003_create_metric_types_table.py
  app/strategies/ma_cross/core/analyzer.py
  app/tools/portfolio/filtering_service.py
  app/tools/portfolio/filters.py
  conftest.py
  data/kelly/kelly_parameters.json
  docs/reference/tools/METRIC_DEFINITIONS.md
  tests/cli/integration/test_export_matrix.py
  tests/cli/integration/test_export_schemas.py
  tests/conftest_export.py
  tests/database/test_strategy_sweep_metrics_integration.py
  tests/exports/test_strategy_export_validation.py
  tests/integration/test_empty_export_integration.py
  tests/integration/test_position_workflows.py
  tests/pytest_worker_isolation.py
  tests/strategies/ma_cross/test_atr_integration.py
  tests/strategies/ma_cross/test_atr_parameter_sweep.py
  tests/strategies/ma_cross/test_core_components.py
  tests/test_filtering_behavior.py
Due: ruff-format, ruff-check, mypy

Establish clear SOC between integration and E2E tests
  tests/e2e/test_webhook_e2e.py
  tests/integration/conftest.py
Due: ruff-format, ruff-check

Implement comprehensive test infrastructure with unit/integration/E2E separation
  .github/workflows/test-e2e.yml
  .github/workflows/test-integration.yml
  .github/workflows/test-parallel.yml
  .github/workflows/test-unit.yml
  .pre-commit-config.yaml
  Makefile
  app/tools/portfolio/filters.py
  app/tools/strategy/export_portfolios.py
  docs/testing/PHASE1_COMPLETION_SUMMARY.md
  pytest.ini
  tests/README.md
  tests/conftest.py
  tests/fixtures/api_fixtures.py
  tests/fixtures/base_test.py
  tests/fixtures/db_fixtures.py
  tests/pytest_worker_isolation.py
  tests/unit/config/test_config_service.py
  tests/unit/config/test_monte_carlo_config.py
  tests/unit/formatters/test_numeric_formatters.py
  tests/unit/formatters/test_style_formatters.py
  tests/unit/formatters/test_text_formatters.py
  tests/unit/schemas/test_base_extended_schemas.py
  tests/unit/validation/test_config_validation.py
  tests/unit/validation/test_schema_validation.py
  tests/validate_markers.py
Due: ruff-format, ruff-check, mypy

Reorganize tests into unit/ directory structure with pytest markers
  docs/testing/PHASE2_PROGRESS_SUMMARY.md
  scripts/add_unit_markers.sh
  tests/tools/test_config_validation.py
  tests/unit/cli/test_strategy_profiles.py
  tests/unit/exports/test_strategy_export_validation.py
  tests/unit/exports/test_synthetic_ticker_exports.py
  tests/unit/monte_carlo/test_monte_carlo_core.py
  tests/unit/schemas/test_sweep_schemas.py
  tests/unit/strategies/test_parameter_testing_config.py
  tests/unit/strategy/test_template_generator.py
  tests/unit/strategy/test_unified_config.py
  tests/unit/tools/market_data/test_recommendation_generation.py
  tests/unit/tools/portfolio/test_csv_generators.py
  tests/unit/tools/portfolio/test_status_filters.py
  tests/unit/tools/seasonality/test_seasonality_analyzer.py
  tests/unit/tools/seasonality/test_seasonality_auto_download.py
  tests/unit/tools/seasonality/test_seasonality_exports.py
  tests/unit/tools/seasonality/test_seasonality_models.py
  tests/unit/tools/seasonality/test_seasonality_patterns.py
  tests/unit/tools/test_equity_data_extractor.py
  tests/unit/tools/test_expectancy.py
  tests/unit/tools/test_memory_optimization.py
  tests/unit/tools/test_normalization.py
  tests/unit/tools/test_position_calculator.py
  tests/unit/tools/test_tools_error_handling.py
Due: ruff-format, ruff-check

Reorganize tests into unit/ directory structure with pytest markers
  .github/workflows/pre-commit.yml
  docs/testing/PHASE2_COMPLETION_REPORT.md
  tests/unit/concurrency/test_config.py
  tests/unit/database/test_metric_types.py
  tests/unit/test_signal_unconfirmed.py
Due: ruff-format, ruff-check

Fix circular import error in unit tests and update E2E workflow
  .github/workflows/test-e2e.yml
  tests/tools/market_data/__init__.py
Due: ruff-format, ruff-check

Fix circular import error in unit tests and update E2E workflow
  docs/testing/PHASE2_FINAL_REPORT.md
  scripts/find_pure_tests.py
  tests/test_base_extended_schemas.py
  tests/unit/concurrency/test_analysis.py
  tests/unit/concurrency/test_asset_strategy_loader.py
  tests/unit/concurrency/test_expectancy_fix.py
  tests/unit/concurrency/test_integration.py
  tests/unit/concurrency/test_risk_contribution_fix.py
  tests/unit/concurrency/test_signal_processor.py
  tests/unit/concurrency/test_smoke.py
  tests/unit/concurrency/test_win_rate_fix.py
  tests/unit/database/test_best_selections.py
  tests/unit/phase2/test_manual_balance_service.py
  tests/unit/phase4/test_demonstration_suite.py
  tests/unit/position_sizing/test_kelly_criterion.py
  tests/unit/position_sizing/test_risk_allocation.py
  tests/unit/schemas/test_base_extended_schemas.py
  tests/unit/test_multi_ticker_export.py
  tests/unit/test_signal_unconfirmed.py
  tests/unit/test_strategy_run_export_separation.py
  tests/unit/test_unified_export_performance.py
  tests/unit/test_use_current_export.py
  tests/unit/tools/test_horizon_analysis.py
  tests/unit/tools/test_signal_conversion.py
  tests/unit/tools/test_signal_metrics.py
  tests/unit/tools/test_signal_quality.py
  tests/unit/tools/test_stop_loss_simulator.py
Due: ruff-format, ruff-check

Add @pytest.mark.integration markers to integration tests
  tests/integration/test_data_consistency.py
  tests/integration/test_empty_export_integration.py
  tests/integration/test_position_workflows.py
  tests/integration/test_signal_unconfirmed_integration.py
  tests/integration/test_statistical_analysis_integration.py
  tests/integration/test_strategy_pipeline_redesign.py
  tests/integration/test_system_integration.py
Due: ruff-format, ruff-check

feat: Complete Phase 3 - Integration test cleanup and marker taxonomy
  docs/testing/PHASE3_COMPLETION_SUMMARY.md
  pytest.ini
  scripts/analyze_integration_tests.py
  tests/e2e/test_ma_cross_scenarios.py
  tests/e2e/test_sweep_e2e.py
  tests/integration/conftest.py
  tests/integration/test_logging_flow.py
  tests/unit/concurrency/__init__.py
  tests/unit/concurrency/base.py
Due: ruff-format, ruff-check

Fix import ordering in run_all_tests.py to comply with ruff/isort config
  tests/tools/run_all_tests.py
Due: ruff-format, ruff-check

Fix MA Cross Module Tests CI by adding pytest markers and fixing workflow
  .github/workflows/ma_cross_tests.yml
  pytest.ini
  tests/strategies/ma_cross/test_atr_parameter_sweep.py
  tests/strategies/ma_cross/test_concurrent_execution.py
Due: ruff-format, ruff-check

Fix missing pytest imports and test compatibility issues
  tests/api/test_api_simple.py
  tests/api/test_webhook_parameters.py
  tests/integration/test_data_consistency.py
  tests/position_sizing/test_integration.py
  tests/tools/portfolio/test_file_utils.py
  tests/unit/cli/test_strategy_profiles.py
  tests/unit/database/test_best_selections.py
  tests/unit/database/test_metric_types.py
Due: ruff-format, ruff-check

Fix mocking issue in test_portfolio_allocation_integration
  tests/position_sizing/test_integration.py
Due: ruff-format, ruff-check

Fix database module-level instantiation causing test collection errors
  app/cli/commands/strategy.py
  app/database/config.py
  test_cli_db_integration.py
  test_db_integration.py
  tests/cli/commands/test_concurrency_construct.py
  tests/cli/commands/test_strategy_review.py
  tests/cli/edge_cases/test_edge_cases.py
  tests/database/test_best_selections_integration.py
  tests/database/test_strategy_sweep_metrics_integration.py
Due: ruff-format, ruff-check, mypy

Fix 20 unit test failures across CLI and database modules
  .github/workflows/ma_cross_tests.yml
  Dockerfile.api
  app/cli/config/loader.py
  app/cli/config/manager.py
  app/database/models.py
  tests/README.md
  tests/unit/cli/test_strategy_profiles.py
  tests/unit/database/test_best_selections.py
  tests/unit/database/test_metric_types.py
Due: ruff-format, ruff-check, mypy

Fix tests/concurrency/ test collection by splitting unit and integration tests
  tests/concurrency/test_integration_fixes.py
  tests/concurrency/test_integration_permutation.py
  tests/concurrency/test_unit_permutation.py
Due: ruff-format, ruff-check

Fix E2E test permission denied error by removing volume mounts
  docker-compose.e2e.yml
Due: none

Fix E2E test failures for sweep and webhook tests
  app/api/services/command_services/strategy_service.py
  app/api/services/webhook_service.py
  docker-compose.e2e.yml
  tests/e2e/test_webhook_e2e.py
Due: ruff-format, ruff-check, mypy

Fix 10 unit test failures in exports module
  .daily_execution.lock
  app/cli/config/loader.py
  app/cli/models/strategy.py
  app/concurrency/tools/asset_strategy_loader.py
  app/database/migrations/versions/003_create_metric_types_table.py
  app/strategies/ma_cross/tools/atr_signal_processing.py
  app/tools/market_data_analyzer.py
  app/tools/simplified_analysis_result.py
  data/raw/strategies/DAILY.csv
  data/raw/strategies/portfolio.csv
  data/raw/strategies/protected.csv
  data/raw/strategies/risk_on.csv
  tests/concurrency/test_unit_permutation.py
  tests/database/test_best_selections_integration.py
  tests/database/test_strategy_sweep_metrics_integration.py
  tests/e2e/test_ma_cross_scenarios.py
  tests/strategies/ma_cross/test_atr_integration.py
  tests/strategies/ma_cross/test_atr_parameter_sweep.py
  tests/tools/market_data/test_enhanced_parameter_analysis.py
  tests/tools/market_data/test_market_data_analyzer.py
  tests/tools/market_data/test_momentum_calculations.py
  tests/unit/cli/test_strategy_profiles.py
  tests/unit/concurrency/test_asset_strategy_loader.py
  tests/unit/concurrency/test_config.py
  tests/unit/database/test_metric_types.py
  tests/unit/exports/test_strategy_export_validation.py
  tests/unit/exports/test_synthetic_ticker_exports.py
Due: ruff-format, ruff-check, mypy
